body {
  background: orangered;
  color: wheat;
  font-family: 'Source Code Pro', monospace;
}

h1 {
  max-width: calc(100% - 60px);
  background-image: linear-gradient(to bottom, #0aa9f5 33%, #0aa9f5);
  background-position: 12px 20px;
  background-repeat: no-repeat;
  background-size: 100% 15px;
  display: inline;
  padding-right: 12px;
}

.slider {
  background-color: orangered;
}

.movie-app>.row {
  overflow-x: auto;
  flex-wrap: nowrap;
  margin: 1rem 0;
}

.movie-app>.row>.image-container {
  width: auto;
}

.image-container {
  position: relative;
  transition: transform .4s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(252, 144, 3, 0.8);
  border-radius: 10px 10px 0 0;
  width: auto;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 16px;
  padding: 10px 16px;
  text-align: center;
}

.image-container img {
  width: 200px;
  max-width: 200px;
}

.row::-webkit-scrollbar {
  width: 1em;
}

.row::-webkit-scrollbar-track {
  background-color: burlywood;
  border-radius: 50px;
}

.row::-webkit-scrollbar-thumb {
  background-color: wheat;
  border-radius: 50px;
}